html {
  height: 100% !important;
}

body {
  height: 100%;
  background-color: #133bdb;
}
.navbar {
  background-color: #dae1e7;
  color: #133bdb;
}

.App {
  height: 100%;
}

#root {
  height: 100% !important;
  width: 100% !important;
  background-color: #133bdb;
  position: relative;
  min-height: 100vh;
}

.h100 {
  height: 100%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
.btn {
  margin-top: 20px;
}
.btn-space {
  margin-left: 10px;
}
.btn-confirm {
  margin-top: 20px;
  background-color: #dae1e7;
  border-color: #dae1e7;
  color: #dd6b4d;
}
.btn-confirm:hover,
.btn-confirm:focus,
.btn-confirm:active,
.btn-confirm.active {
  margin-top: 20px;
  background-color: #dd6b4d;
  border-color: #dae1e7;
  color: #dae1e7;
}

.btn-create_acc {
  margin-top: 20px;
  background-color: #dd6b4d;
  border-color: #dd6b4d;
  color: #dae1e7;
}

.login-title {
  color: #dae1e7;
}

.login-fail {
  color: #dd6b4d;
  font-size: 22px;
}

.login-under {
  color: #dd6b4d !important;
}
.login-logo {
  color: #dae1e7;
}

.balance {
  font-size: 36px;
  color: #dae1e7;
  font-weight: 500;
}

.spinner-border {
  margin-top: 10rem;
  margin-left: 50%;
}

.transfer {
  font-size: 18px;
  color: #dae1e7;
}
.transfer:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.balance-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.container-foot {
  margin-top: 7.5rem;
  font-size: 20px;
  color: #dae1e7;
}

.footer-cards {
  margin-top: 5px;
}
.footer-cards:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.menu-item a {
  color: #dae1e7;
  font-size: 22px;
  font-weight: 500;
}

.menu-item:hover a {
  color: #dae1e7;
  text-decoration: underline;
  font-size: 22px;
  font-weight: 500;
}

.menu-container {
  margin-top: 7.5rem;
}

@media only screen and (min-width: 340px) {
  .balance {
    font-size: 40px;
    color: #dae1e7;
  }
  .transfer {
    font-size: 20px;
    color: #dae1e7;
  }
  .balance-container {
    margin-top: 8rem;
  }
}
@media only screen and (min-width: 600px) {
  .balance {
    font-size: 52px;
    color: #dae1e7;
  }
  .transfer {
    font-size: 26px;
    color: #dae1e7;
  }
  .balance-container {
    margin-top: 10rem;
  }

  .container-foot {
    margin-top: 10rem;
    font-size: 20px;
    color: #dae1e7;
  }
  .footer-cards {
    margin-top: 12px;
  }
  .menu-container {
    margin-top: 10 rem;
  }
}

@media only screen and (min-width: 960px) {
  .menu-container {
    margin-top: 18rem;
  }
}

.crud-title {
  color: #dae1e7;
  padding: 2rem;
}

.crud-container {
  margin-bottom: 20px;
}

.title-container {
  /* margin: 20px; */
}
.crud-back {
  color: #dae1e7;
}
.crud-back:hover {
  color: white;
  cursor: pointer;
}

.crud-form {
  margin-left: 10px;
  margin-right: 10px;
  color: #dae1e7;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #dae1e7;
}

.crud-form-transfer {
  color: #dae1e7;
  border: solid;
  border-width: 2px;
  border-radius: 5px;
  border-color: #dae1e7;
}

.transfer-form {
  padding: 10px;
  color: #dae1e7;
}

@media only screen and (min-width: 576px) {
  .crud-form {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media only screen and (min-width: 720px) {
  .crud-form {
    margin-left: 15%;
    margin-right: 20%;
  }
}
@media only screen and (min-width: 960px) {
  .crud-form {
    margin-left: 18%;
    margin-right: 23%;
  }
}

.credit-card-coponent {
  background: #dae1e7;
  color: #dd6b4d;
  border-radius: 12px;
  padding: 20px 20px 20px 10px;
  margin-top: 23px;
  max-height: 105px;
  min-height: 105px;
}

.credit-card-coponent:hover {
  cursor: pointer;
  border-color: #dd6b4d;
  border: solid;
}
.credit-card-add {
  background: #dd6b4d;
  border-color: #dd6b4d;
  border: solid;
  border-width: 5px;
  color: #dae1e7;
}
.credit-card-add:hover {
  cursor: pointer;
}
