html {
  height: 100% !important;
}

body {
  height: 100%;
}
.navbar {
  background-color: #dae1e7;
  color: #183661;
}

#root {
  height: 100% !important;
  width: 100% !important;
  background-color: #183661;
  position: relative;
  min-height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.btn-login {
  margin-top: 20px;
  background-color: #dae1e7;
  border-color: #dae1e7;
  color: #dd6b4d;
}
.btn-login:hover,
.btn-login:focus,
.btn-login:active,
.btn-login.active {
  margin-top: 20px;
  background-color: #dd6b4d;
  border-color: #dae1e7;
  color: #dae1e7;
}

.login-title {
  color: #dae1e7;
}

.login-fail {
  color: #dd6b4d;
  font-size: 22px;
}

.login-under {
  color: #dd6b4d !important;
}
.login-logo {
  color: #dae1e7;
}

.balance {
  font-size: 36px;
  color: #dae1e7;
}
.transfer {
  font-size: 18px;
  color: #dae1e7;
}
.transfer:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.balance-container {
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}

.container-foot {
  margin-top: 7.5rem;
  font-size: 20px;
  color: #dae1e7;
}

.footer-cards {
  margin-top: 5px;
}
.footer-cards:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

@media only screen and (min-width: 340px) {
  .balance {
    font-size: 40px;
    color: #dae1e7;
  }
  .transfer {
    font-size: 20px;
    color: #dae1e7;
  }
  .balance-container {
    margin-top: 8rem;
  }
}
@media only screen and (min-width: 600px) {
  .balance {
    font-size: 52px;
    color: #dae1e7;
  }
  .transfer {
    font-size: 26px;
    color: #dae1e7;
  }
  .balance-container {
    margin-top: 10rem;
  }

  .container-foot {
    margin-top: 10rem;
    font-size: 20px;
    color: #dae1e7;
  }
  .footer-cards {
    margin-top: 12px;
  }
}
